body{
    margin:0%;
}
.boxcenter{
    width:65%;
    margin: 0 auto;
}
.wraper{
    float:left;
    width: 100%;
}
header{
    background-color:rgb(255, 0, 106) ;
    min-height: 200px;
}
nav{
    background-color:rgb(249, 251, 152);
    min-height: 50px;
}
article{
    float:left;
    width:70%;
    background-color:rgb(206, 112, 216);
    min-height: 350px;
}

aside{
    float: left;
    width:30%;
    background-color:rgba(153, 51, 56, 0.051);
    min-height: 350px;
}
footer{
    background-color:rgb(169, 225, 65);
    min-height: 150px;
}