body{
    margin:0%;
}
.boxcenter{
    width:65%;
    margin: 0 auto;
}
.wraper{
    float:left;
    width: 100%;
}
header{
    background-color:beige ;
    min-height: 200px;
}
nav{
    background-color:black;
    min-height: 50px;
}
article{
    float:left;
    width:70%;
    background-color:aqua;
    min-height: 350px;
}

aside{
    float: left;
    width:30%;
    background-color:brown;
    min-height: 350px;
}
footer{
    background-color:aquamarine;
    min-height: 150px;
}